body {
    background-color: rgb(0, 0, 0)!important;
}

h1,
p {
    color: aqua;
}

p {
    font-size: larger;
}

ul {
    background-color: magenta;
    list-style: lower-roman;
    margin: 10px;
}

li {
    color: yellow;
}

abhishek {
    color: red;
}

.outer-box {
    background-color: blue;
    padding: 100px;
    height: 500px;
    width: 500px;
    margin: 100px;
    border: 10px solid white;
}

.inner-content {
    background-color: green;
    height: 400px;
    border: 10px solid white;
    margin: 50px;
    padding: 50px;
}